<div class="container-fluid"
     style="background-image: url('assets/img/list2.jpg');
     background-size: cover;
     background-attachment: fixed;
     min-height: 100vh;
     padding-top: 75px;
     padding-bottom: 75px;">

    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">

            <div class="card shadow-lg">
                <div class="card-body">

                    <!-- TITLE -->
                    <h3 class="text-center text-primary font-weight-bold"
                        *ngIf="!form.data.id">
                        Add Portfolio
                    </h3>

                    <h3 class="text-center text-primary font-weight-bold"
                        *ngIf="form.data.id>0">
                        Update Portfolio
                    </h3>

                    <!-- SUCCESS -->
                    <div *ngIf="form.error == false && form.message"
                         class="alert alert-success alert-dismissible text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.message }}
                    </div>

                    <!-- ERROR -->
                    <div *ngIf="form.error && form.message"
                         class="alert alert-danger alert-dismissible text-center">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ form.message }}
                    </div>

                    <!-- PORTFOLIO ID -->
                    <label><b>Portfolio Id *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-id-card"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="portfolioId"
                               [(ngModel)]="form.data.portfolioId"
                               placeholder="Enter Portfolio Id">
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.portfolioId}}</span>
                    </div>

                    <!-- PORTFOLIO NAME -->
                    <label><b>Portfolio Name *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-briefcase"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="portfolioName"
                               [(ngModel)]="form.data.portfolioName"
                               placeholder="Enter Portfolio Name">
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.portfolioName}}</span>
                    </div>

                    <!-- TOTAL VALUE -->
                    <label><b>Total Value *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-money"></i>
                            </span>
                        </div>
                        <input type="text"
                               class="form-control"
                               name="totalValue"
                               [(ngModel)]="form.data.totalValue"
                               placeholder="Enter Total Value">
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.totalValue}}</span>
                    </div>

                    <!-- CREATED DATE -->
                    <label><b>Created Date *</b></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                                <i class="fa fa-calendar"></i>
                            </span>
                        </div>
                           <input type="date" class="form-control" [(ngModel)]="form.data.createdDate" name="createdDate" [max]="datepicker.max"> 
            
                    </div>
                    <div>
                        <span class="text-danger">{{form.inputerror.createdDate}}</span>
                    </div>

                    <!-- BUTTONS -->
                    <div class="text-center mt-4">

                        <button *ngIf="!form.data.id"
                                (click)="submit()"
                                class="btn btn-success mr-2">
                            Save
                        </button>

                        <button *ngIf="form.data.id"
                                (click)="submit()"
                                class="btn btn-success mr-2">
                            Update
                        </button>

                        <button *ngIf="!form.data.id"
                                (click)="reset()"
                                class="btn btn-warning mr-2">
                            Reset
                        </button>

                        <button *ngIf="form.data.id"
                                (click)="forward('/portfoliolist')"
                                class="btn btn-warning">
                            List
                        </button>

                    </div>

                </div>
            </div>

        </div>

        <div class="col-md-4"></div>
    </div>

</div>